
@tailwind base;
@tailwind components;
@tailwind utilities;
.input { @apply w-full p-2 border rounded-md } 
.textarea { @apply w-full p-2 border rounded-md h-24 }
.file-input { @apply block mt-1 }
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}